<h1><u><%= @charity.name %></u></h1>

<h4>Donate Today!</h4>
<div class="jumbotron">
<form action="/charities/<%= @charity.id %>/donations" method="POST" id="payment-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="donation[charity_id]" value="<%= @charity.id %>">
  <span class="payment-errors"></span>

 <div class="form-row">
    <label>
      <span class="badge">Amount</span>
      <input type="text" size="20" name="donation[amount_in_dollars]" data-stripe="amount"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span class="badge">Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span class="badge">CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span class="badge">Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <button type="submit" class="btn btn-default">Submit Payment</button>
</form>
</div>

<div>
  <div class="amount">
  <div class="text-center">
    <h2><u>Total Donations to Date:</u></h2>
    <% if @charity.donations.first == nil %>
      <p><strong>No money has been donated. =( </strong></p>
    <% else %>
      <div class="text-size">$<%= @charity.donation_total %></div>
    <% end %>
  </div>
  </div>
</div>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="donation[token]" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
  jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});
</script>

